:root {
  --c-bg: #000000;
  --c-fg: #F0F0F0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
  background-color: var(--c-bg);
  color: var(--c-fg);
}
body canvas {
  outline: none;
}
body a, body button {
  font-family: "Minotaur Sans Regular";
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  color: currentColor;
  background: none;
  border: none;
  padding: 0;
}
body span {
  display: block;
}
body main {
  display: block;
}
body .overflow {
  overflow: hidden;
}
body .medium {
  width: 625px;
  font-size: 50px;
  line-height: 65px;
  font-family: "Minotaur Regular";
}
@media (max-width: 900px) {
  body .medium {
    width: 74vw;
    font-size: 26px;
    line-height: 34px;
  }
}
body .preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 200;
}
body .preloader .loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .preloader .loading-square1 {
  width: 5px;
  height: 5px;
  opacity: 0;
  background-color: var(--c-fg);
  animation: square1 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite 3s;
}
@keyframes square1 {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
}
@keyframes square2 {
  5% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
}
@keyframes square3 {
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
}
body .preloader .loading-square2 {
  width: 5px;
  height: 5px;
  margin-left: 15px;
  background-color: var(--c-fg);
  opacity: 0;
  animation: square2 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite 3s;
}
body .preloader .loading-square3 {
  width: 5px;
  height: 5px;
  opacity: 0;
  margin-left: 15px;
  animation: square3 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite 3s;
  background-color: var(--c-fg);
}
body .labor {
  width: 550px;
  font-size: 16px;
  line-height: 26px;
  font-family: "Minotaur Sans Light";
}
@media (max-width: 900px) {
  body .labor {
    width: 74vw;
  }
}
body header {
  position: absolute;
  top: 0;
  z-index: 50;
  width: 100vw;
  font-size: 14px;
  font-family: "Minotaur Sans Light";
  text-transform: uppercase;
}
body header .flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header .logo {
  margin-top: 4.16666vw;
  margin-left: 4.16666vw;
}
@media (max-width: 900px) {
  body header .logo {
    margin-top: 40px;
    margin-left: 30px;
  }
}
body header .menu {
  margin-top: 4.16666vw;
  margin-right: 4.16666vw;
}
@media (max-width: 900px) {
  body header .menu {
    margin-top: 40px;
    margin-right: 30px;
  }
}
body .hero {
  width: 100vw;
  height: 100vh;
  position: relative;
}
body .hero-title {
  position: absolute;
  bottom: 5vw;
  left: 12.65vw;
  z-index: 50;
  font-size: 36px;
  line-height: 40px;
  font-family: "Minotaur Sans Light";
}
body .hero-title .italic {
  font-size: 16px;
  margin-bottom: 5px;
  font-family: "Minotaur Regular";
  font-style: italic;
}
@media (max-width: 900px) {
  body .hero-title {
    font-size: 24px;
    line-height: 30px;
    bottom: 60px;
  }
}
body .hero .gradient {
  position: absolute;
  z-index: 20;
  bottom: 0;
  left: 0;
  height: 30%;
  width: 100vw;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), black);
}
body .hero canvas {
  width: 100vw;
  height: 100vh;
}
body .history {
  margin-top: 18.75vw;
}
@media (max-width: 900px) {
  body .history {
    margin-top: 100px;
  }
}
body .history-title {
  text-align: center;
  width: 62.5vw;
  margin-left: 18.75vw;
}
@media (max-width: 900px) {
  body .history-title {
    width: 74vw;
    margin-left: 13vw;
  }
}
body .history-title .title {
  font-size: 11.45vw;
  line-height: 10.9375vw;
  font-family: "Minotaur Sans Regular";
}
@media (max-width: 900px) {
  body .history-title .title {
    font-size: 60px;
    line-height: 60px;
  }
}
body .history-title .sub {
  font-size: 16px;
  color: #777777;
  font-family: "Minotaur Regular";
  margin-bottom: 4.1666vw;
}
@media (max-width: 900px) {
  body .history-title .sub {
    margin-bottom: 30px;
  }
}
body .history-content {
  margin-top: 18.75vw;
  margin-left: 16.927vw;
}
@media (max-width: 900px) {
  body .history-content {
    margin-left: 13vw;
    margin-top: 100px;
  }
}
body .history-content .medium {
  margin-bottom: 3.6458vw;
}
@media (max-width: 900px) {
  body .history-content .medium {
    margin-bottom: 40px;
  }
}
body .highlight {
  position: relative;
  margin-top: 13vw;
  padding-top: 13vw;
  padding-bottom: 13vw;
  background-color: #161616;
}
@media (max-width: 900px) {
  body .highlight {
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
body .highlight-img {
  top: -10%;
  right: 8.4375vw;
  position: absolute;
  width: 41vw;
  height: 56vw;
  z-index: 10;
}
@media (max-width: 900px) {
  body .highlight-img {
    top: -14%;
  }
}
body .highlight-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body .highlight-content {
  padding-left: 13.28vw;
  font-family: "Minotaur Sans Regular";
  text-transform: uppercase;
  font-size: 11.45vw;
  line-height: 10.9375vw;
}
@media (max-width: 900px) {
  body .highlight-content {
    padding-left: 13vw;
    font-size: 45px;
    line-height: 45px;
  }
}
body .highlight-content .sub {
  font-size: 16px;
  line-height: 26px;
  color: #777777;
  font-family: "Minotaur Sans Light";
  text-transform: uppercase;
  margin-top: 4.1666vw;
}
body .specs {
  position: relative;
  padding-top: 18.75vw;
  padding-left: 13.28vw;
}
body .specs canvas {
  position: absolute;
  top: 0;
  left: 20vw;
  width: 100vw;
  height: 61vw;
}
@media (max-width: 900px) {
  body .specs {
    padding-top: 100px;
    padding-left: 13vw;
  }
}
body .specs-numbers {
  width: 350px;
  margin-bottom: 18.75vw;
}
@media (max-width: 900px) {
  body .specs-numbers {
    width: 73vw;
    margin-bottom: 100px;
  }
}
body .specs-numbers .inline {
  display: inline-block;
}
body .specs-numbers .number {
  width: 45%;
  margin-bottom: 60px;
}
@media (max-width: 900px) {
  body .specs-numbers .number {
    margin-bottom: 40px;
  }
}
body .specs-numbers .inline {
  display: inline-block;
}
body .specs-numbers .title {
  color: #777777;
  text-transform: uppercase;
  font-family: "Minotaur Sans Light";
  font-size: 16px;
  line-height: 26px;
}
body .specs-numbers .content {
  text-transform: uppercase;
  font-family: "Minotaur Sans Light";
  font-size: 16px;
  line-height: 26px;
}
body .specs .spec {
  width: 470px;
  margin-bottom: 18.75vw;
}
@media (max-width: 900px) {
  body .specs .spec {
    width: 74vw;
    margin-bottom: 100px;
  }
}
body .specs .spec .title {
  color: #777777;
  text-transform: uppercase;
  font-family: "Minotaur Sans Light";
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 30px;
}
body .specs .spec .content {
  font-family: "Minotaur Regular";
  font-size: 34px;
  line-height: 46px;
}
@media (max-width: 900px) {
  body .specs .spec .content {
    font-size: 24px;
    line-height: 32px;
  }
}
body .design-img {
  width: 100vw;
  height: 110vh;
  overflow: hidden;
}
body .design-img img {
  width: 120%;
  height: 120%;
  object-fit: cover;
}
body .design-content {
  padding-top: 18.75vw;
  padding-left: 46.35vw;
}
@media (max-width: 900px) {
  body .design-content {
    padding-left: 13vw;
    padding-top: 100px;
  }
}
body .design-content .medium {
  margin-bottom: 3.6458vw;
}
@media (max-width: 900px) {
  body .design-content .medium {
    margin-bottom: 40px;
  }
}
body .britain {
  margin-top: 18.75vw;
}
@media (max-width: 900px) {
  body .britain {
    margin-top: 100px;
  }
}
body .britain-title {
  width: 62.5vw;
  margin-left: 18.75vw;
}
@media (max-width: 900px) {
  body .britain-title {
    width: 73vw;
    margin-left: 13vw;
  }
}
body .britain-title .title {
  font-size: 11.45vw;
  line-height: 10.9375vw;
  font-family: "Minotaur Sans Regular";
  text-transform: uppercase;
}
@media (max-width: 900px) {
  body .britain-title .title {
    font-size: 60px;
    line-height: 60px;
  }
}
body .britain-title .sub {
  font-size: 16px;
  color: #777777;
  font-family: "Minotaur Regular";
  margin-bottom: 4.1666vw;
}
@media (max-width: 900px) {
  body .britain-title .sub {
    margin-bottom: 30px;
  }
}
body .britain-content {
  position: relative;
  margin-top: 18.75vw;
  background-color: #161616;
  padding-top: 60vw;
  padding-bottom: 13vw;
}
@media (max-width: 900px) {
  body .britain-content {
    margin-top: 100px;
    padding-top: 70vh;
    padding-bottom: 100px;
  }
}
body .britain-content .text {
  margin-left: 16.927vw;
}
@media (max-width: 900px) {
  body .britain-content .text {
    margin-left: 13vw;
  }
}
body .britain-content .text .medium {
  margin-bottom: 3.6458vw;
}
@media (max-width: 900px) {
  body .britain-content .text .medium {
    margin-bottom: 40px;
  }
}
body .britain-content .img .left {
  top: -8%;
  left: 22.13vw;
}
@media (max-width: 900px) {
  body .britain-content .img .left {
    left: 13vw;
    top: -4%;
  }
}
body .britain-content .img .right {
  top: 20%;
  right: 3.33vw;
}
@media (max-width: 900px) {
  body .britain-content .img .right {
    right: 0;
    top: 15%;
  }
}
body .britain-content .img-wrapper {
  position: absolute;
  width: 40.88vw;
  height: 55.72vw;
}
@media (max-width: 900px) {
  body .britain-content .img-wrapper {
    width: 60vw;
    height: 80vw;
  }
}
body .britain-content .img-wrapper img {
  width: 100%;
  height: 100%;
}
body .dday {
  margin-top: 18.75vw;
}
body .dday-title {
  width: 62.5vw;
  margin-left: 18.75vw;
}
@media (max-width: 900px) {
  body .dday-title {
    width: 73vw;
    margin-left: 13vw;
  }
}
body .dday-title .title {
  font-size: 11.45vw;
  line-height: 10.9375vw;
  font-family: "Minotaur Sans Regular";
  text-transform: uppercase;
}
@media (max-width: 900px) {
  body .dday-title .title {
    font-size: 60px;
    line-height: 60px;
  }
}
body .dday-title .sub {
  font-size: 16px;
  color: #777777;
  font-family: "Minotaur Regular";
  margin-bottom: 4.1666vw;
}
body .dday-content {
  padding-top: 18.75vw;
  padding-left: 46.35vw;
  margin-bottom: 18.75vw;
}
@media (max-width: 900px) {
  body .dday-content {
    padding-top: 100px;
    padding-left: 13vw;
    margin-bottom: 100px;
  }
}
body .dday-content .medium {
  margin-bottom: 3.6458vw;
}
@media (max-width: 900px) {
  body .dday-content .medium {
    margin-bottom: 40px;
  }
}
body .dday-imgs {
  position: relative;
}
body .dday-imgs .floating {
  position: absolute;
  width: 23vw;
  height: 30vw;
  left: 12.5vw;
  top: -30%;
  z-index: 10;
}
@media (max-width: 900px) {
  body .dday-imgs .floating {
    display: none;
  }
}
body .dday-imgs .floating img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body .dday-imgs .fullscreen {
  width: 100vw;
  height: 110vh;
  overflow: hidden;
}
body .dday-imgs .fullscreen img {
  width: 120%;
  height: 120%;
  object-fit: cover;
}
body .credits {
  width: 100vw;
  padding-top: 13vw;
  padding-bottom: 13vw;
  height: 80vh;
}
@media (max-width: 900px) {
  body .credits {
    padding-top: 100px;
    height: 100vh;
  }
}
body .credits .flex {
  width: 66vw;
  margin-left: 17vw;
  display: flex;
}
@media (max-width: 900px) {
  body .credits .flex {
    width: 73vw;
    margin-left: 13vw;
    flex-direction: column;
  }
}
body .credits-title {
  margin-bottom: 10.41vw;
  width: 100%;
  margin-left: 16.82vw;
}
@media (max-width: 900px) {
  body .credits-title {
    margin-left: 13vw;
    margin-bottom: 100px;
  }
}
body .credits-sources {
  width: 50%;
}
body .credits-sources a {
  display: block;
  font-family: "Minotaur Sans Light";
  font-size: 16px;
  line-height: 26px;
}
body .credits-dev {
  width: 50%;
}
@media (max-width: 900px) {
  body .credits-dev {
    margin-top: 40px;
  }
}
body .credits-dev span {
  margin-bottom: 16px;
}
body .credits .sub {
  font-size: 16px;
  color: #777777;
  font-family: "Minotaur Sans Light";
  margin-bottom: 30px;
}

/*! locomotive-scroll v3.5.4 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

.c-scrollbar {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100vh;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 1;
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  opacity: 1;
  width: 1px;
  height: 100%;
  cursor: -webkit-grab;
  cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/*# sourceMappingURL=/style.6d80b553.css.map */